absl-py @ file:///opt/conda/conda-bld/absl-py_1639803114343/work
affine==2.3.1
aiohttp @ file:///tmp/build/80754af9/aiohttp_1646806366512/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout @ file:///opt/conda/conda-bld/async-timeout_1664876359750/work
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
backcall==0.2.0
bleach==5.0.1
blinker==1.4
boto3==1.24.91
botocore==1.27.91
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi==1.15.1
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///tmp/build/80754af9/click_1646038465422/work
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.1.0
contourpy==1.0.5
cryptography @ file:///tmp/build/80754af9/cryptography_1652083738073/work
cycler==0.11.0
defusedxml==0.7.1
dm-tree==0.1.7
executing==0.8.3
fastjsonschema==2.16.1
fiona==1.9.5
flake8==4.0.1
flatbuffers @ file:///home/ktietz/cip/python-flatbuffers_1634039120618/work
fonttools==4.37.4
frozenlist @ file:///tmp/build/80754af9/frozenlist_1637767111923/work
gast @ file:///Users/ktietz/demo/mc3/conda-bld/gast_1628588903283/work
geopandas==0.7.0
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1617120569401/work
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
grpcio @ file:///tmp/build/80754af9/grpcio_1637590823556/work
h11==0.12.0
h5py @ file:///tmp/build/80754af9/h5py_1593454122442/work
httpcore==0.15.0
httpx==0.23.0
idna==3.3
imageio==2.22.1
imgaug==0.4.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1648562408398/work
importlib-resources==5.10.0
install==1.3.5
ipython==8.4.0
ipywidgets==7.7.1
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib @ file:///croot/joblib_1666298844297/work
jupyter-console==6.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
keras==2.11.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
Markdown @ file:///tmp/build/80754af9/markdown_1614363528767/work
MarkupSafe==2.1.1
matplotlib==3.6.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
morecantile==3.1.2
multidict @ file:///croot/multidict_1665674239670/work
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.7
notebook==6.4.12
numexpr==2.8.3
numpy @ file:///tmp/abs_653_j00fmm/croots/recipe/numpy_and_numpy_base_1659432701727/work
oauthlib @ file:///croot/oauthlib_1665490897403/work
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.10.2
pyflakes==2.4.0
Pygments==2.12.0
PyJWT @ file:///opt/conda/conda-bld/pyjwt_1657544592787/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
pyproj==3.4.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
pystac==1.6.1
python-dateutil==2.8.2
pytz==2022.7.1
PyWavelets==1.4.1
qtconsole==5.3.1
QtPy==2.1.0
rasterio==1.3.2
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests-oauthlib==1.3.0
rfc3986==1.5.0
rio-color==1.0.4
rio-mucho==1.0.0
rio-tiler==3.1.6
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
s3transfer==0.6.0
scikit-image==0.19.3
scikit-learn @ file:///croot/scikit-learn_1675444908879/work
scipy==1.9.1
Send2Trash==1.8.0
Shapely==1.8.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0.post1
sniffio==1.3.0
snuggs==1.4.7
stack-data==0.3.0
tensorboard @ file:///home/builder/stiwari/miniconda3/envs/tf_new_env/conda-bld/tensorboard_1661447826088/work/tensorboard-2.9.0-py3-none-any.whl
tensorboard-data-server @ file:///tmp/build/80754af9/tensorboard-data-server_1633035064162/work/tensorboard_data_server-0.6.0-py3-none-manylinux2010_x86_64.whl
tensorboard-plugin-wit @ file:///home/builder/tkoch/workspace/tensorflow/tensorboard-plugin-wit_1658918494740/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow @ file:///home/builder/ktietz/aggregate/tensorflow_recipes/ci_cpu/tensorflow-base_1614543347059/work/tensorflow_pkg/tensorflow-2.4.1-cp38-cp38-linux_x86_64.whl
tensorflow-estimator @ file:///home/builder/adipietro/tf/tensorflow-estimator_1630508970172/work/tensorflow_estimator-2.6.0-py2.py3-none-any.whl
termcolor==1.1.0
terminado==0.15.0
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2022.10.10
tinycss2==1.1.1
torch==1.8.2+cu111
torchaudio==0.8.2
tornado==6.2
tqdm==4.64.1
typeguard==2.13.3
typing_extensions==4.7.1
urllib3 @ file:///tmp/abs_5dhwnz6atv/croots/recipe/urllib3_1659110457909/work
wcwidth==0.2.5
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
widgetsnbextension==3.6.1
wrapt @ file:///tmp/abs_c335821b-6e43-4504-9816-b1a52d3d3e1eel6uae8l/croots/recipe/wrapt_1657814400492/work
yarl @ file:///opt/conda/conda-bld/yarl_1661437085904/work
zipp @ file:///opt/conda/conda-bld/zipp_1652341764480/work
